.kg-item {
    background-color: lightyellow;
}

.kg-items {
    font-weight: bold;
    color: black;
}

.button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: green;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    float: right;
}